
@font-face {
    font-family: "df";
    src: url("Sorting Algos/fonts/Oswald-Medium.ttf")
}

@font-face {
    font-family: "light_df";
    src: url("Sorting Algos/fonts/Oswald-Light.ttf")
}


@font-face {
    font-family: "code";
    src: url("Sorting Algos/fonts/SourceCodePro-Light.ttf")
}



body{
    overflow: scroll;
    overflow-x:hidden;

    border-top:  85px solid #0C0C0C;;
    border-left: 25px solid #0C0C0C;
    border-right:25px solid #0C0C0C;

    padding:0px;
    margin: 0px;
    /* margin-bottom: 50px; */

    font-family:"df" ;
    letter-spacing: 1px; 
    background-color: black;
    color: white;
}

#footer{
    background-color: #0C0C0C;
    color: white;
    opacity: .3;
    font-size: 25px;
    font-family: "light_df";
    width: 100vw;
    padding: 10px; 
    text-align: center  ;
}

::-webkit-scrollbar{
    width: 0;
}

.txt_cluster{
    
    font-family:"light_df" ;
    font-size: 25px;
    padding: 40px;
    letter-spacing: 1px;
    margin: 40px;
    margin-bottom: 100px;
    text-align: center;
    width:80vw;
    border: 5px outset white;  
    /* border-right: 1px solid white;
    border-right: 1px solid white; */
}

#fake_body{
    display:grid;
    place-items:center;
}

#link_thing{
    padding: 30px;
    font-size: 30px;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color:white;
    padding: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .5s ;
}

.link:hover{
    font-size: 30px;
    background-color: white;
    color: black;
}

#all_txt{
    
    /* display: flex;
    width: fit-content;
    height: 1000px;  */
    
    
}

.glossary{
    font-family: "code";
    font-size: 45px;
}


#title_animation{
    font-size: 25px;
    transition: .6s;
    letter-spacing: 2px;
    animation: animatename normal .6s;
}

@keyframes animatename{
    0%{transform: scale(1);}
    50%{transform: scale(1.15);}
    100%{transform: scale(1);}  
}

#title{
    font-size: 110px;
    display: grid;
    place-items: center;
    margin: 240px;
}

#tab{
    width: fit-content;
    margin: 140px;
}

.p_txt{
    width:850px;
}

.txt{
    font-family: "light_df";
    font-size: 35px;
    padding: 10px;
    margin: 30px;
    margin-bottom: 150px;
}

.example{
    font-family:"code";
    font-size: 25px;
    background-color:rgb(5, 5, 5) ;
    padding: 10px 30px;
    margin: 35px;
    color:  #e7e5f5;
    width: 800px;
    text-align: center;
    letter-spacing: 5px;

}



.link_btn{
    border: 3px white double;
    background-color: black;
    color: white;
    transition: .4s;
    font-size: 35px;
    margin: 30px;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "df";
}   

.link_btn:hover{
    scale: 1.25;
    border: 5px solid;
    color:royalblue;
}

.underlined{
    font-family: "df";
    text-decoration:underline;
    letter-spacing: 2px;
    font-size: 28px;
    transition: .4s;
}

.path{
    color: white;
    font-size: 75px;
    transition: .3s;
}

.underlined:hover{
    color: green;
}

.button_sel{
    
    background-color: white;
    width:max-content;
    border: solid 1px white;
    width: fit-content;
}

#txt_sel{
    letter-spacing: 1px;
    font-size: 27px;
    padding: 50px;
    background-color: black;
    color: white;

}

.algo_sel{
    text-transform: uppercase;
    border: white;
    color: cornflowerblue;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 62px;
    font-family: "df";
    transition: .35s ease-in-out;
}


.algo_sel:hover{
    scale: 1.05;
}


#body_{
    display: grid;
    place-items: center;
    border-bottom: #0C0C0C 55px solid;
}

.credit_tab{
    padding: 20px;
    margin: 20px;
    background-color: #0C0C0C; 
    width: fit-content;
    display: grid;
    place-items: center;
}

.credit{
    padding: 30px;
    font-size: 38px;
    margin: 10px;
    color: #0C0C0C;
    /* text-shadow: 0px 0px 5px white; */
    text-transform: uppercase;
}

.CSS{
    transition: .4s;
}

.CSS:hover{
    font-size: 28px;
    color: #264de4;
}

.JS{
    transition: .4s;
}

.JS:hover{
    font-size: 28px;
    color: yellow;
}

.HTML{
    transition: .4s;
}

.HTML:hover{
    color: #e34c26;
    font-size: 28px;
}

#HTML{
    background-color: #0C0C0C;
    color: black;
    padding: 20px;
    margin: 50px;
    font-size: 50px;
    transition: .7s;
}

#JS{
    background-color: #0C0C0C;
    color: black;
    padding: 20px;
    margin: 50px;
    font-size: 50px;
    transition: .7s;
}

#CSS{
    background-color: #0C0C0C;
    color: black;
    padding: 20px;
    margin: 50px;
    font-size: 50px;
    transition:.7s;
}